.button {
    border: 4px;
    color:rgb(80, 6, 6); /*this is text color */
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1 {
    background-color: azure;
}