.button {
    border: 4px;
    color:rgb(80, 6, 6); /*this is text color */
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.button1 {
    background-color: azure;
}
.wallet{
    color:black;
    margin: 0 10 10 auto;
    display: block;

}
.div{

   width: max-content;
   height: auto;
   border: 4px darkblue;
}
.main-block{
  
    width:auto;
    border-radius: 40px; 
    height: auto;
    border: 4px solid darkblue;
    background-color: rgb(67, 73, 148);
}
